/SchootingRangeVR/Library
/SchootingRangeVR/Temp
/SchootingRangeVR/SR_VR.apk
/SchootingRangeVR/SchootingRangeVR.CSharp.csproj
/SchootingRangeVR/SchootingRangeVR.CSharp.Editor.csproj
/SchootingRangeVR/SchootingRangeVR.sln
